# Puerto del servidor
PORT=3000

# Conexión a PostgreSQL
DATABASE_URL=postgres://usuario:contraseña@localhost:5432/api_proxy

# Conexión a Redis
REDIS_URL=redis://localhost:6379

# API Maestra
MASTER_API_BASE_URL=https://edge.wazend.net
MASTER_API_KEY=UkVKATZZMZqZgtxMscKhfhbxORHDH41K

# Configuración de Rate Limiting
RATE_LIMIT_WINDOW_SEC=60
RATE_LIMIT_MAX_REQUESTS=100